In [71]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [72]:
import sys
sys.path.append('../')

In [73]:
# load pickle file
import pickle

# Reading data from the file
with open('predictions.pkl', 'rb') as f:
    predictions = pickle.load(f)

In [74]:
from src.credibility_estimation.conformal_predictor import ConformalPredictor

In [75]:
cp = ConformalPredictor()

In [76]:
predictions["scalar"]

,x|clas|pred_cls,x|clas|prob_cls_0,x|clas|prob_cls_1,x|adv|pred_cls,x|adv|prob_cls_0,x|adv|prob_cls_1,x|adv|prob_cls_2,y|clas,y|adv,data_meta|patient_id,...,data_meta|event_indicator,data_meta|domain,data_meta|sample_id,data_meta|filepath,data_meta|split,data_meta|max_rows,data_meta|max_cols,data_meta|patch_size,data_meta|img_mag_dsf,data_meta|initial_dsf
0,0,0.5255,0.474501,2,0.308818,0.327131,0.364052,0,0,0,...,0,A,0_train,0.tif,train,7,7,14,1,1
1,0,0.5255,0.474501,2,0.308818,0.327131,0.364052,1,1,1,...,1,B,1_train,1.tif,train,7,7,14,1,1
2,0,0.5255,0.474501,2,0.308818,0.327131,0.364052,1,2,2,...,1,C,2_train,2.tif,train,7,7,14,1,1
3,0,0.5255,0.474501,2,0.308818,0.327131,0.364052,0,0,0,...,0,A,0_val,0.tif,val,7,7,14,1,1
4,0,0.5255,0.474501,2,0.308818,0.327131,0.364052,1,1,1,...,1,B,1_val,1.tif,val,7,7,14,1,1
5,0,0.5255,0.474501,2,0.308818,0.327131,0.364052,1,2,2,...,1,C,2_val,2.tif,val,7,7,14,1,1
6,0,0.5255,0.474501,2,0.308818,0.327131,0.364052,0,0,0,...,0,A,0_test,0.tif,test,7,7,14,1,1
7,0,0.5255,0.474501,2,0.308818,0.327131,0.364052,1,1,1,...,1,B,1_test,1.tif,test,7,7,14,1,1
8,0,0.5255,0.474501,2,0.308818,0.327131,0.364052,1,2,2,...,1,C,2_test,2.tif,test,7,7,14,1,1

In [77]:
cp_data = ConformalPredictor.input_transform(
    predictions,
    predictions,
)

Created CP data with 3 train, 3 calib and 3 target samples.

/home/fabian/UKE_projects/PCAI/pcai/notebook/../src/credibility_estimation/conformal_predictor.py:276: ImplicitModificationWarning: Trying to modify attribute `.obs` of view, initializing view as actual.
  train_data.obs["cp_split"] = "train"
/home/fabian/UKE_projects/PCAI/pcai/notebook/../src/credibility_estimation/conformal_predictor.py:277: ImplicitModificationWarning: Trying to modify attribute `.obs` of view, initializing view as actual.
  calib_data.obs["cp_split"] = "calib"
/home/fabian/UKE_projects/PCAI/pcai/notebook/../src/credibility_estimation/conformal_predictor.py:278: ImplicitModificationWarning: Trying to modify attribute `.obs` of view, initializing view as actual.
  target_data.obs["cp_split"] = "target"

In [78]:
cp.fit(cp_data)

/home/fabian/.local/lib/python3.10/site-packages/scipy/spatial/distance.py:1062: RuntimeWarning: invalid value encountered in sqrt
  return np.sqrt(m)
/home/fabian/UKE_projects/PCAI/pcai/notebook/../src/credibility_estimation/utils.py:27: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  labels = predictions[predictions.sum(1) == 1].idxmax(1)

In [79]:
cp_results = cp.force_predict_class_rate(threshold=0.75, on="credibility")

credibility threshold 1.0. Classification rate of calibration set:  0.00

In [80]:
from copy import deepcopy

predictions_cp = deepcopy(predictions)

predictions_cp["scalar"] = predictions_cp["scalar"].join(
    ConformalPredictor.output_transform(cp_results)
)

In [81]:
predictions_cp["scalar"]

,x|clas|pred_cls,x|clas|prob_cls_0,x|clas|prob_cls_1,x|adv|pred_cls,x|adv|prob_cls_0,x|adv|prob_cls_1,x|adv|prob_cls_2,y|clas,y|adv,data_meta|patient_id,...,data_meta|max_cols,data_meta|patch_size,data_meta|img_mag_dsf,data_meta|initial_dsf,cp_split,singlets_alpha,singlets_base,confidence,credibility,assignment
0,0,0.5255,0.474501,2,0.308818,0.327131,0.364052,0,0,0,...,7,14,1,1,NaN,NaN,NaN,NaN,NaN,NaN
1,0,0.5255,0.474501,2,0.308818,0.327131,0.364052,1,1,1,...,7,14,1,1,NaN,NaN,NaN,NaN,NaN,NaN
2,0,0.5255,0.474501,2,0.308818,0.327131,0.364052,1,2,2,...,7,14,1,1,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0.5255,0.474501,2,0.308818,0.327131,0.364052,0,0,0,...,7,14,1,1,NaN,NaN,NaN,NaN,NaN,NaN
4,0,0.5255,0.474501,2,0.308818,0.327131,0.364052,1,1,1,...,7,14,1,1,NaN,NaN,NaN,NaN,NaN,NaN
5,0,0.5255,0.474501,2,0.308818,0.327131,0.364052,1,2,2,...,7,14,1,1,NaN,NaN,NaN,NaN,NaN,NaN
6,0,0.5255,0.474501,2,0.308818,0.327131,0.364052,0,0,0,...,7,14,1,1,target,NaN,0.0,0.666667,1.0,0
7,0,0.5255,0.474501,2,0.308818,0.327131,0.364052,1,1,1,...,7,14,1,1,target,NaN,0.0,0.333333,1.0,0
8,0,0.5255,0.474501,2,0.308818,0.327131,0.364052,1,2,2,...,7,14,1,1,target,NaN,0.0,0.000000,1.0,0

In [82]:
with open("predictions_cp.pkl", "wb") as f:
    pickle.dump(predictions_cp, f)